mixin sForm()
	// start sForm
	+b.SECTION.sForm.section.section_gray-bg#sForm&attributes(attributes)
		.container
			+e.row.row
				+e.col.col-lg-6: .inner-wrap
					+b.section-title.bigger
						h2 Остались вопросы? Или хотите узнать больше?
						p Заполните короткую форму, мы перезвоним Вам в ближайшее время!

					+form-wrap
						+input('Введите' ,'text', "Ваше имя")
						+input("+7 ____ ____ ___ ___",'tel', 'Номер телефона')
						+input("sample@sample,com",'email', 'Ваш e-mail')
						+input("Например: после 14:00",'text', 'Удобное время для звонка')
						+e.btn.btn.btn-primary(type="submit") Отправить
						+policy
				+e.col.col-lg-6.d-none.d-lg-block
					+e.img-wrap 
						+img(src="img/sForm-img.png").img-bg
	// end sForm