// start .headerBlock
.headerBlock {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()}; 
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	// background: blue;
	
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock

.stores-icons {
  background: $red;
  border-radius: $border-radius;

  padding: rem(20);
	@include media-breakpoint-up(lg) {
    padding: rem(35);
  }

  &__img-wrap {
    padding: rem(6);
    border-radius: rem(8);
    border: white 1px solid;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      grid-column: span 2;

      &:nth-child(1),
      &:nth-child(2) {
        grid-column: span 3;
      }
    }
  }

  img {
    max-width: 100%;
  }

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: rem(8);
	@include media-breakpoint-up(lg) {
    grid-template-columns: repeat(5, 1fr);
  }
}