mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 headerBlock ds dfsdfdsfsd
				+icon('telegram')
				+iconC('telegram')
			.row
			+storesIcons
	// end headerBlock

mixin storesIcons 
	+b.stores-icons
		- for (var x = 5; x >= 1; x--)
			+e.img-wrap(href='#')
				+img(src=`img/svg/store-${x}.svg`, alt="")