extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sArticleList/_sArticleList.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		.header-wrap: +headerBlock
		+sCatalog
		.cards-content-wrapper
			+sContent('Работа с заказами','Интуитивно понятный интерфейс','FUSIONPOS Терминал позволяет оптимизировать работу кассиров и официантов в ресторанах, кафе и других заведениях общественного питания. Система автоматизации позволяет быстро и эффективно принимать заказы от гостей, управлять ими, а также проводить различные операции с оплатой.')#sContent
				+imgMockup(1)
			+sContent('Управление залом',  'Только индивидуальность', 'С помощью FUSIONPOS Терминал Вы сможете быстро и просто настроить визуализацию расположения столов в заведении, что позволит персоналу безошибочно ориентироваться в пространстве зала и статусе отдельно взятого стола.')
				+imgMockup(2)
					+img(src="img/svg/waves.svg", alt="").waves.left
		+sContact
		.cards-content-wrapper
			+sContent('Удобная работа с сервисами доставки еды',  'Теперь все заказы в одном приложении', 'В интерфейсе FUSIONPOS реализован быстрый доступ к подробной информации о заказах, которые поступили через сервисы доставки.').after-circle
				+imgMockup(3).green-circle.left
					+img(src="img/svg/waves.svg", alt="").waves.right
			+sContent('Маркировка',  'Работа без штрафов', 'Простая настройка для продажи товаров, подлежащих обязательной маркировке. Полная адаптация под нормы российского законодательства.').after-circle
				+imgMockup(4).green-circle.right
					+img(src="img/svg/waves.svg", alt="").waves.left
			+sContent('Приложение руководителя',  'Аналитика всегда под рукой', 'Fusion Boss - мобильное приложение, которое в режиме реального времени способно предоставить мгновенный анализ эффективности работы как отдельной точки, так и всей сети.')
				+imgMockupMob(1).d-none.d-lg-block
				+imgMockup(4).d-lg-none
					+img(src="img/svg/waves.svg", alt="").waves.right
		+sContact2
		.cards-content-wrapper
			+sContent2('Оборудование для кассы',  'Минимальный набор оборудования для начала работы', 'Для работы системы FUSIONPOS достаточно минимального набора: планшет на базе Android или iOS, либо ПК с ОС Windows, а также кассовый терминал и доступ в интернет.')
				+e.content-wrap: +img("img/sContent-desk.png", 'bg')
		+sContent3('Приложение руководителя', 'Плати только когда начинаешь работать', 'Настраивай склад и меню, обучайся работе с системой FUSIONPOS неограниченное количество времени')
		+sPartners
		+sForm()
		+sArticleList
	+parts('footer')