extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		//- +headerBlock 
		//- +sCatalog
		//- +sForm()
		.cards-content-wrapper
			+sContent('Работа с заказами','Интуитивно понятный интерфейс','FUSIONPOS Терминал позволяет оптимизировать работу кассиров и официантов в ресторанах, кафе и других заведениях общественного питания. Система автоматизации позволяет быстро и эффективно принимать заказы от гостей, управлять ими, а также проводить различные операции с оплатой.')
				+imgMockup(1)

			+sContent('Только индивидуальность',  'Только индивидуальность', 'С помощью FUSIONPOS Терминал Вы сможете быстро и просто настроить визуализацию расположения столов в заведении, что позволит персоналу безошибочно ориентироваться в пространстве зала и статусе отдельно взятого стола.')
				+imgMockup(2)
		.cards-content-wrapper
			+sContent('Удобная работа с сервисами доставки еды',  'Теперь все заказы в одном приложении', 'В интерфейсе FUSIONPOS реализован быстрый доступ к подробной информации о заказах, которые поступили через сервисы доставки.')
				+imgMockup(3)
			+sContent('Маркировка',  'Работа без штрафов', 'Простая настройка для продажи товаров, подлежащих обязательной маркировке. Полная адаптация под нормы российского законодательства.')
				+imgMockup(4)
			+sContent('Приложение руководителя',  'Аналитика всегда под рукой', 'Fusion Boss - мобильное приложение, которое в режиме реального времени способно предоставить мгновенный анализ эффективности работы как отдельной точки, так и всей сети.')
		.cards-content-wrapper
			+sContent2('Оборудование для кассы',  'Минимальный набор оборудования для начала работы', 'Для работы системы FUSIONPOS достаточно минимального набора: планшет на базе Android или iOS, либо ПК с ОС Windows, а также кассовый терминал и доступ в интернет.')
		
	+parts('footer')