
	// start .sContent
	.sContent {
	
	// --sPT: #{rem()};
	// --sPB: #{rem(0)};
	--sTPB: #{rem(0)};
    @include media-breakpoint-up(md) {
      --sTPB: #{rem(0)};
    }

	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
    @include media-breakpoint-up(lg) {
      align-items: center;
      height: 100%;
    }
	}

  .container {
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(lg) {
      height: 100%;
    }
  }

  position: relative;
  @include media-breakpoint-up(xxl) {
    height: rem(588);
  }
  &.section_gray {
    overflow: hidden;

    &:before, &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 30%;
      height: 50%;
      z-index: 0;
      opacity: .4;
      filter: blur(50px);
      @include media-breakpoint-up(lg) {
        height: 100%;
        transform: translate(0);
        width: 20%;
        background:  linear-gradient(270deg, rgba(0, 0, 0,0) 0%, rgba(0, 156, 243, .8) 80%);
      }
    }
    &:before {
      left: 0;
      transform: rotate(15deg);

      background:  linear-gradient(133deg, rgba(0, 0, 0,0) 0%, rgba(0, 156, 243, .8) 80%);
      @include media-breakpoint-up(lg) {
        background:  linear-gradient(270deg, rgba(0, 0, 0,0) 0%, rgba(0, 156, 243, .8) 80%);
      }
    }
    &:after {
      right: 0;
      height: 100%;
      width: 20%;
      bottom: 0;
      transform: translateX(20%);
      background:  linear-gradient(208deg, rgba(0, 0, 0, 0) 0%, rgba(0, 156, 243, .8) 50%);
      @include media-breakpoint-up(lg) {
        background:  linear-gradient(90deg, rgba(0, 0, 0,0) 0%, rgba(0, 156, 243, .8) 80%);
      }
    }
  }

  &.bg_gr {
    position: relative;
    overflow: hidden;
    height: auto;

    @include media-breakpoint-up(lg) {
      --sPT: #{rem(16)};
      --sPB: #{rem(16)};
    }
    background: #252525;
    @include media-breakpoint-down(lg) {
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
        opacity: .4;
        filter: blur(50px);
        height: 100%;
        width: 20%;
        transform: translateX(20%);
        background:  linear-gradient(208deg, rgba(0, 0, 0, 0) 0%, rgba(0, 156, 243, .8) 50%);
      }
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      right: 0;
      height: 100%;
      width: 20%;
      opacity: .4;
      filter: blur(50px);
      background: linear-gradient(208deg, rgba(0, 0, 0, 0) 0%, rgba(0, 156, 243, .8) 50%);
      @include media-breakpoint-up(lg) {
        background:  linear-gradient(90deg, rgba(0, 0, 0,0) 0%, rgba(0, 156, 243, .8) 80%);
      }
    }
  }

  &__content-wrap {
    position: relative;
    margin-bottom: rem(40);
    margin-top: rem(26);
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      margin-top: 0;
    }
    img {
      @include media-breakpoint-down(lg) {
        max-width: 96%;
      }
    }

    &:after,
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      background: $primary;
      border-radius: 50%;
      filter: blur(40px);
      width: 60%;
      left: 50%;
    }

    &:after {
      bottom: -13%;
      height: rem(69);
      @include media-breakpoint-up(lg) {
        height: rem(130);
      }
      transform: translateX(-50%);
    }

    &:before {
      bottom: 0;
      height: rem(20);
      transform: translateX(-20%);
    }
  }

	&__img-wrap {
    @include block(368, 577);
    max-width: rem(577);
    // overflow: hidden;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.74);
    border-radius: $border-radius;
    @include media-breakpoint-up(lg) {
      border-radius: rem(24);
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 50%;
        height: 100%;
        z-index: 0;
        opacity: .4;
        filter: blur(50px);
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: $primary;
        border-radius: 50%;
      }
    }

    &.frame-mob {
      @include block(709, 343);
      margin-left: 0 !important;
      border-radius: rem(62);
    }
  }

  .frame-mob-wrapper {
    position: relative;
    @include media-breakpoint-up(lg) {
      margin-left: 10%;
      min-height: rem(370);
    }
    .img {
      border-width: 6px;
      @include media-breakpoint-up(lg) {
        border-radius: rem(30);
      }
    }

    .frame-mob:first-child {
      width: 62%;
      @include media-breakpoint-up(lg) {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .frame-mob:last-child{
      width: 52%;
      position: absolute;
      left: 48%;
      top: 20%;
      z-index: 0;
    }
  }

  .waves {
    @include media-breakpoint-down(lg) {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50%;
      height: 150%;
      transform: translateY(-50%);
      z-index: -1;
      &.right {
        right: 0;
      }
      &.left {
        left: 0;
      }
    }
  }
  .waves-gray {
    position: absolute;
    right: -20px;
    top: 40px;
    transform: translateX(40%);
    z-index: -1;
    max-width: 100vw;
    @include media-breakpoint-up(lg) {
      top: 50%;
      transform: translate(35%, -50%);
    }
  }

	.section-title {
		max-width: rem(494);
    &.bigger  {
      p {
        max-width: rem(450);
      }
    }
	}
  
  .img {
    z-index: 1;
    position: absolute;

    top: 0;
    left: 0;
    border: 9px solid transparent;
    @include media-breakpoint-up(sm) {
      border-width: 16px;
    }
    @include media-breakpoint-up(lg) {
      border-width: 14px;
      border-radius: 28px;
    }
    @include media-breakpoint-up(xl) {
      border-width: 18px;
    }
    object-position: left top;
  }

  .frame {
    z-index: 2;
    position: relative;
  }

  .green-circle {
    @include media-breakpoint-up(lg) {
      &::after {
        content: '';
        position: absolute;
        width: rem(52);
        height: rem(52);
        z-index: 0;
        // transform: translateY(-50%);
        background: $success;
        border-radius: 50%;
      }

      &.left {
        &::after {
          left: rem(52);
          bottom: 100%;
          transform: translateY(20%);
        }
      }
      &.right {
        &::after {
          right: rem(90);
          bottom: 100%;
          transform: translateY(60%);
        }
      }
    }
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContent

.section-title {
  &__top {
    margin-bottom: rem(4);
    @include media-breakpoint-down(lg) {
      font-size: rem(14);
    }
  }

  &__btn {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  p {
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(32);
    }
  }
}

.cards-content-wrapper {
  .sContent:nth-child(odd) {
    @include media-breakpoint-up(lg) {
      .sContent__row {
        flex-direction: row-reverse;
      }

      &.section_gray:before {
        content: none;
      }

      &.after-circle:before {
        content: '';
        width: rem(362);
        height: rem(362);
        border-radius: 50%;
        filter: blur(0);
        transform: translate(30%, 10%);
        opacity: .2;
        left: auto;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, #009cf3 0%, #005b8d 100%);
      }
      .sContent__img-wrap {
        margin-left: auto;
      }
    }
  }

  .sContent:nth-child(even) {
    @include media-breakpoint-up(lg) {
      &.section_gray:after {
        content: none;
      }

      .section-title {
        margin-left: auto;
      }
      &.after-circle:after {
        content: '';
        width: rem(362);
        height: rem(362);
        border-radius: 50%;
        filter: blur(0);
        transform: translate(-30%, 10%);
        opacity: .2;
        left: 0;
        bottom: 0;
        background: linear-gradient(180deg, #009cf3 0%, #005b8d 100%);
      }
    }
  }
}

// .sContent 3
.sContent {
  &__btn-wrap {
    @include media-breakpoint-down(md) {
      .btn {
        width: 100%;
        &:last-child {
          margin-top: rem(16);
        }
        }
    }
    @include media-breakpoint-up(md) {
      .btn:last-child {
        margin-left: rem(16);
      }

      .btn {
        min-width: rem(186);
      }
    }
  }
  .container-bigger {
    @include media-breakpoint-up(lg) {
      margin-right: 0;
      max-width: 1351px;
    }
  }

}

.card-aside {
  background: $success;
  border-radius: $border-radius-sm;
  --pad: 16px;
  padding: var(--pad);
  @include media-breakpoint-down(md) {
    margin-top: rem(-16);
  }
  @include media-breakpoint-up(lg) {
    --pad: 26px;
  }
  @include media-breakpoint-up(xl) {
    --pad: 56px;
  }

  &__row {
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(8);
    }
  }


  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: rem(6);
  }

  &__price, p, ul {
    color: $gray-900;
  }

  ul {
    font-size: rem(14);
    margin-left: rem(24);
    margin-bottom: rem(14);
  }
  p {
    margin-bottom: rem(8);
    font-size: rem(14);
  }

  &__title {
    font-size: rem(24);
    @include media-breakpoint-up(lg) {
      font-size: rem(40);
    }
  }
  &__price {
    font-size: rem(20);
  }


  .icon {
    fill: $gray-900;
    margin-right: rem(8);
  }

  &__row-cards {
    display: flex;
    overflow: auto;
    gap: rem(4);
    padding-bottom: rem(4);
    @include media-breakpoint-up(md) {
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(md) {
      margin-right: calc(var(--pad) * -1);
    }
  }
}


.title-f {
  font-family: $headings-font-family;
  letter-spacing: 0.02em;
  font-weight: 800;
}

.inner-card {
  background: #5bbc5b;
  border-radius: $border-radius-sm;
  height: auto;
  padding: rem(14) rem(16);
  width: rem(209);
  flex-shrink: 0;
  @include media-breakpoint-up(md) {
    width: auto;
  }


  &__title {
    margin-bottom: rem(16);
    font-weight: 600;
    font-size: rem(14);
  }

  .small {
    color: #404040;
  }
}

.section-title.bigger {
  h2 {
    @include media-breakpoint-up(xl) {
      font-size: rem(40);
    }
  }
}