mixin sArticleList(data)
	// start sArticleList
	+b.SECTION.sArticleList.section#sArticleList&attributes(attributes)
		.container
			+b.section-title.bigger
				h2 База знаний
			+ddGroup
				+ddGroupItem('Начало работы', 'active')
					ul
						li: a(href='#') Как устроен FUSION POS
						li: a(href='#') Как зарегистрироваться в системе
						li: a(href='#') Быстрое начало работы
						li: a(href='#') Правила оплаты подписки Fusion POS
						li: a(href='#') Все статьи
				+ddGroupItem('Часто задаваемые вопросы')
					ul
						li: a(href='#') Как устроен FUSION POS
						li: a(href='#') Как зарегистрироваться в системе
						li: a(href='#') Все статьи
				+ddGroupItem('Терминал продаж')
					ul
						li: a(href='#') Как устроен FUSION POS
						li: a(href='#') Как увеличить кнопки, надписи на терминале продаж
						li: a(href='#') Как уменьшить расход чековой ленты
						li: a(href='#') Как обновить терминал продаж на ОС Windows в ручном режиме
						li: a(href='#') Все статьи
				+ddGroupItem('Егаис и маркировка')
					ul
						li: a(href='#') Как устроен FUSION POS
						li: a(href='#') Как зарегистрироваться в системе
						li: a(href='#') Быстрое начало работы
						li: a(href='#') Правила оплаты подписки Fusion POS
						li: a(href='#') Все статьи
				+ddGroupItem('Управление базой гостей')
					ul
						li: a(href='#') Как устроен FUSION POS
						li: a(href='#') Как зарегистрироваться в системе
						li: a(href='#') Быстрое начало работы
						li: a(href='#') Правила оплаты подписки Fusion POS
						li: a(href='#') Все статьи
				+ddGroupItem('Управление персоналом')
					ul
						li: a(href='#') Как устроен FUSION POS
						li: a(href='#') Как зарегистрироваться в системе
						li: a(href='#') Быстрое начало работы
						li: a(href='#') Правила оплаты подписки Fusion POS
						li: a(href='#') Правила оплаты подписки Fusion POS
						li: a(href='#') Все статьи
				+ddGroupItem('Терминал продаж')
					ul
						li: a(href='#') Как устроен FUSION POS
						li: a(href='#') Обзор функций терминала продаж
						li: a(href='#') Как увеличить кнопки, надписи на терминале продаж
						li: a(href='#') Как уменьшить расход чековой ленты
						li: a(href='#') Как обновить терминал продаж на ОС Windows в ручном режиме
						li: a(href='#') Все статьи
				+ddGroupItem('Егаис и маркировка')
					ul
						li: a(href='#') Как устроен FUSION POS
						li: a(href='#') Как зарегистрироваться в системе
						li: a(href='#') Быстрое начало работы
						li: a(href='#') Правила оплаты подписки Fusion POS
						li: a(href='#') Все статьи
				+ddGroupItem('Управление базой гостей')
					ul
						li: a(href='#') Как устроен FUSION POS
						li: a(href='#') Как зарегистрироваться в системе
						li: a(href='#') Быстрое начало работы
						li: a(href='#') Правила оплаты подписки Fusion POS
						li: a(href='#') Все статьи
	// end sArticleList