// start .sPartners
.sPartners {
	--sPT: #{rem(60)};
	--sPB: #{rem(30)};
	--sTPB: #{rem(44)};
	@include media-breakpoint-up(lg) {
    --sPT: #{rem(160)};
    --sTPB: #{rem(40)};
    --sPB: #{rem(160)};
  }
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		span {
      color: $primary;
    }
    h2 {
      @include media-breakpoint-up(lg) {
        margin-bottom: rem(40);
      }
    }

    max-width: rem(1040);
    margin-left: auto;
    margin-right: auto;
	}

  &__slider {
    margin-bottom: rem(48);
    position: relative;
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(72);
    }
    @include media-breakpoint-down(lg) {
      overflow: visible;
    }

    @include media-breakpoint-up(lg) {
      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        z-index: 3;
        height: 100%;
        width: 150px;
        background: linear-gradient(270deg, #1d1d1d 24.64%, rgba(29, 29, 29, 0) 100%);
      }

      &::before {
        left: -2px;
        transform: rotate(180deg);
      }
      &::after {
        right: -2px;
      }
    }
  }

	.swiper-wrapper {
    // transition-timing-function: linear !important;
  }

  .swiper-slide {
    width: auto;
    height: auto;
  }

  .btn {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPartners

.brand-card {
  width: rem(180);
  height: rem(60);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: rem(24);
	@include media-breakpoint-up(lg) {
    margin-right: rem(47);
  }

  img {
    max-width: 90%;
    max-height: 98%;
    filter: saturate(0);
  }
}