mixin sCatalog(h2)
	// start sCatalog
	+b.sCatalog.section.d-none.d-lg-block&attributes(attributes)
		+e.slider--js.swiper--js
			.swiper-wrapper
				+productCard('Для фастфуда', '', 6)
				+productCard('Для ресторанов', 'Быстрая настройка, управление технологиями настройка, управление', 5)
				+productCard('Для кафе', '', 4)
				+productCard('Для пекарен', '', 3)
				+productCard('Пиццериям', '', 2)
				+productCard('Для фудтрака', '', 5)
				+productCard('Для кафе', ' Быстрая настройка, управление технологиями настройка, управление', 4)
				+productCard('Для пекарен', '', 3)
				+productCard('Пиццериям', '', 2)
				+productCard('Для фудтрака', '', 5)
	// end sPartners


mixin productCard(t, p, img)
	.swiper-slide
		+b.product-card
			+e.img-wrap
				+img(src=`img/product-${img}.png`, alt="").img.img-bg
			+e.content
				.h5=t
				if p
					.small=p
				else
					.small Быстрая настройка, управление технологиями
			+e.bottom
				+e.btn.btn-sm.btn.btn-dark(href='#') Подробнее

	// end sCatalog