// start .sCatalog
.sCatalog {
	--sPT: #{rem(16)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	
  @include media-breakpoint-up(lg) {
    margin-bottom: rem(64);
    --sPT: #{rem(0)};
  }
  &__slider {
    // border-radius: $border-radius-sm;
    @include media-breakpoint-up(lg) {
    margin-left: rem(-16);
    margin-right: rem(-16);
      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        z-index: 3;
        height: 102%;
        width: 150px;
        background: linear-gradient(270deg, #1d1d1d 24.64%, rgba(29, 29, 29, 0) 100%);
      }

      &::before {
        left: -2px;
        transform: rotate(180deg);
      }
      &::after {
        right: -2px;
      }
    }
  }
  .swiper-slide {
    width: auto;
    height: auto;
  }

  position: relative;

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog



.product-card {
	display: flex;
	flex-direction: column;
  justify-content: space-between;
  gap: rem(10);
	height: 100%;
  border-radius: $border-radius-sm;
  --pad: 24px;
  padding: var(--pad);
  min-height: rem(195);
  background: $gray-800;
  max-width: rem(220);
  position: relative;
  overflow: hidden;

  .h5 {
    margin-bottom: rem(8);
  }

  .img {
    object-position: top left;
  }

  &__img-wrap {
    position: absolute;
    bottom: calc( var(--pad) * -1);
    right: calc(var(--pad) * -1);
    transform: translate(2%, 20%);
    width: 115px;
    height: 115px;
    max-width: 50%;
  }
}

.btn-dark {
  --bs-btn-color: #{$primary};
  --bs-btn-bg: #353535;
  --bs-btn-border-color: #353535;
  --bs-btn-hover-color: #e1e1e1;
  --bs-btn-hover-bg: #3f3f3f;
  --bs-btn-hover-border-color: #343434;
  // --bs-btn-focus-shadow-rgb: 63, 63, 63;
  // --bs-btn-active-color: #fff;
  // --bs-btn-active-bg: #4a4a4a;
  // --bs-btn-active-border-color: #343434;
  // --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  // --bs-btn-disabled-color: #fff;
  // --bs-btn-disabled-bg: #1d1d1d;
  // --bs-btn-disabled-border-color: #1d1d1d;
}