mixin menu-toggle()
	+b.toggle-menu-mobile--js&attributes(attributes)
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container-fluid
			+e.row.row
				.col-auto.d-xxl-none
					+menu-toggle()
				.col-auto
					+e.logo-wrap.A(href='#'): +img(src="img/svg/logo.svg", alt="")
				.col.order-lg-0
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+menu-toggle().d-xxl-none
							+mnu()
							a.d-sm-none.tel(href="tel:88007757427") 8 (800) 775-74-27
				.col-auto
					+e.links-wrap 
						a.tel(href="tel:88007757427") 8 (800) 775-74-27
						a(href="#"): +img(src="img/svg/whatsapp.svg", alt="")
						a(href="#"): +img(src="img/svg/telegram.svg", alt="")
						a(href="#"): +img(src="img/svg/viber.svg", alt="")
				.col-auto
					+e.btn.btn.btn-primary(href='#') Войти
	// end top-nav